
@{
    ViewBag.Title = "Logout";
}



You have been signed out.

<p>Sign in again? Click this <a href="@Url.Action("Login", "Account")">link</a></p>
<p>Go to <a href="@Url.Action("Index", "Home")">Home</a></p>